.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid rgb(188, 16, 223);
  padding: 10px;
}

.header{
  padding: 10px;
}

h1 { 
    color: rgb(10, 65, 245);
}

h3 { 
  color: rgb(23, 119, 216);
}

hr {
  color: coral;
}

body  {
  padding: 10px;
  background-color: rgb(90, 14, 177);
}