.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid rgb(230, 217, 40);
  padding: 10px;
}

.header{
  padding: 10px;
}

h1 { 
    color: rgb(10, 65, 245);
}

h3 { 
  color: rgb(23, 119, 216);
}

body  {
  padding: 10px;
  background-color: rgb(128, 231, 192);
}